body {
    background-color:#ececec;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width:100%;
}

header {
    margin: 2px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 16px 20px;
    background-color: #000000;
}

header p {
    margin: 0px;
    font-size:14px;
    font-weight: bold;
    text-transform: uppercase;
}

header nav{
    max-width: 100%;
    display: flex;
}


header nav ul {
    margin: 0px;
    font-size: 16px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap:45px;

}

header a {
    text-decoration: none ;
    color: #ffffff;
}

header a:hover {
    text-decoration: underline;
}

header nav a {
    color: #ffffff;
}

section.info h1 {
    font-weight: normal;
    text-align: center;
    font-size: 70px;
    margin: 50px;
}

.card img{
    width:11000px;
    display:flex
}

section.card h2 {
    margin: 40px 40px 20px 30px;
    font-weight: bold;
    text-align-last: initial;
    font-size: 30px;
}

section.card p {
    margin: 20px 50px 50px 30px;
    text-align-last: initial;
    font-size: 20px;
}


footer{
    margin: 80px auto 0 auto;
    max-width: 1100px;
    border-top: 1px solid #000000;
    text-align: center;
    padding: 24px;
}

footer p {
    font-size: 14px;
    color: #000000;
    margin 0;
}

.img1 {
    margin: 40px 0px 0px 0px;
    width: 100%;
    display: flex;
    position: relative;
    gap: 20px;
}

section h3 { 
    font-size: 13px;
    color: #000000;
    text-align: initial;
    margin: 10px 0px 0px 0px;
}

section p {
    font-size: 13px;
    color: #000000;
    margin: 5px 0 0 0;
    text-align: initial;

}




